.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar {
    background-color: #721c20;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Centraliza tudo verticalmente */
    justify-content: space-between;
    position: relative;
  }

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* ou center/flex-start, conforme o layout desejado */
    
}

.logo-navbar {
    height: 60px;
    margin-bottom: 0; /* Retirado para evitar margens extras */
}

.itens-nav-container {
    display: flex;
    align-items: center;       /* Alinha verticalmente */
    justify-content: center;   /* Centraliza horizontalmente */
    flex-grow: 1;
}

.user-name {
    margin-right: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap; /* Impede a quebra de linha */
}

.itens-nav {
    list-style: none;
    display: flex; /* Garante que os itens fiquem em linha reta */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center;   /* Centraliza horizontalmente */
    margin: 0; /* Remove a margem extra da lista */
    padding: 0; /* Remove o padding extra da lista */

     /* para o menu ficar no centro da navbar */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.itens-nav li {
    display: inline-flex; /* Alinha os itens da lista em linha */
    align-items: center; /* Centraliza os itens dentro de cada <li> */
}

.itens-nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0 15px; /* Margem horizontal entre os links */
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.itens-nav a:hover {
    color: #ff8c00;
}
